*{
    margin: 0px;
    padding: 0px
}

#Cabecera{
    height: 120px;
   background: rgba(0, 128, 0, 0.432) 
}

#TituloLetra{
    color: red;
}

#SubtituloLetra{
    color: green
}

#Niño{
   padding-top: 20px;
   padding-left: 20px;
}

#Titulo{
    padding-top: 5px;
    padding-left: 20px 
 }
 
#Menus{
    float: left;
    padding: 10px;
    border-right: solid 1px gray;
    background: skyblue
}
#Menu{
    height: 38px;
    background: skyblue;
    border: solid 1px gray
}
#ColorFondo{
    height: 900px;
    background: rgb(245, 245, 164)
}
#BloqueIz{
    position:relative; 
    top: 20px;
    left: 20px; 
    float:left; 
    background:rgba(252, 70, 4, 0.445); 
    height:750px; 
    width: 1000px
}

#BloqueIzSeccion{
    padding:10px;
    background: rgba(252, 70, 4, 0.26);
    color: grey
}

#BloqueIzTitulo{
    padding-top: 20px; 
    padding-bottom: 20px;
    color: rgba(102, 126, 106, 0.712)
}

#BloqueIzCapaVacia{
    height: 500px;
    background: rgba(161, 48, 6, 0.548); 
    border-radius: 10px ;
}

#BloqueIzPie{
    color: rgba(104, 28, 1, 0.445);
    background: rgba(252, 70, 4, 0.26);
    padding: 10px
}

#BloqueIzPieColorSeguridad{
    color: gray
}

#BloqueDer{
    position:relative; 
    top: 20px;
    left: 45px; 
    float:left ; 
    background:rgb(196, 186, 207); 
    height:750px; 
    width: 300px
}

p{
    padding-top: 20px; 
    padding-bottom: 20px;
    color: rgba(104, 28, 1, 0.445)
}

#BloqueDerTitulo1{
    background:rgba(160, 153, 168, 0.767); 
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px rgba(122, 115, 129, 0.377) solid
}

#BloqueDerContenido1{
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px rgba(122, 115, 129, 0.377) solid
}

#BloqueDerTitulo2{
    position: relative;
    top: 20px;
    background:rgba(160, 153, 168, 0.767); 
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px rgba(122, 115, 129, 0.377) solid
}

#BloqueDerContenido2{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px rgba(122, 115, 129, 0.377) solid;
    position: relative;
    top: 20px;
}

#BloqueDerTitulo3{
    position: relative;
    top: 40px;
    background:rgba(160, 153, 168, 0.767); 
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px rgba(122, 115, 129, 0.377) solid
}

#BloqueDerContenido3{
    position: relative;
    top: 40px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px rgba(122, 115, 129, 0.377) solid;
    padding-left: 20px;
}
#BloqueDerContenido3ColorLetra{
    color: blue
}