*{
    margin: 0px;
    padding: 0px
}

#a1{
    height: 120px;
   background: rgba(0, 128, 0, 0.432) 
}

#a2{
    color: red;
}

#a3{
    color: green
}

#a4{
   padding-top: 20px;
   padding-left: 20px;
}

#a5{
    padding-top: 5px;
    padding-left: 20px 
 }
 
#a6{
    float: left;
    padding: 10px;
    border-right: solid 1px gray;
    background: skyblue
}
#a7{
    height: 38px;
    background: skyblue;
    border: solid 1px gray
}
#a8{
    height: 900px;
    background: rgb(245, 245, 164)
}
#a9{
    position:relative; 
    top: 20px;
    left: 20px; 
    float:left; 
    background:rgba(252, 70, 4, 0.445); 
    height:750px; 
    width: 1000px
}

#a91{
    padding:10px;
    background: rgba(252, 70, 4, 0.26);
    color: grey
}

#a92{
    padding-top: 20px; 
    padding-bottom: 20px;
    color: gray
}

#a93{
    height: 300px;
    background: rgba(161, 48, 6, 0.548); 
    border-radius: 10px 
}

#a10{
    position:relative; 
    top: 20px;
    left: 45px; 
    float:left ; 
    background:rgb(196, 186, 207); 
    height:750px; 
    width: 300px
}

p{
    padding-top: 20px; 
    padding-bottom: 20px;
    color: rgba(104, 28, 1, 0.445)
}