* {
    margin: 0px;
    padding: 0px     /*  * a toda la página  */
}

h1 {

}

h2 {

}

header, section, footer, aside, nav, article{     /* la coma se usa para enumerar una lista de elementos a las que aplicar estilos */

}

#contenedor {
    width: 1000px;
    margin: 15px auto;
    text-align: left;
}

#cabecera {
    padding: 20px;
}

#menu {
    background: ;
    padding: ;
}

#menu li {
    display: inline-block ;          /* importante para poner el menu en horizontal */
    list-style: none;
    padding: 5px
}

#section {
    float: left;            /* para que flote a la izquierda */
    width: px;
    margin: px;
}

#columna {
    float: left;            /*para que flote a la derecha del section*/
    width: px;
    margin: px;
    padding: px;
    background: ;
}

#pie {
    clear: both;            /* para que se situe abajo */ 
    text-align: center;
    border-top: 2px solid black 
}

article {
    background: ;
    border: 1px solid

}

article footer {
    text-align: center
}

